#formWrap {
    z-index:2;
    margin-top:-96px;
    border-radius:18px;
    border:1px solid #e4e4e4;
    border-top:12px solid #e4e4e4;
  }
  #cardDesign {
    border-radius:12px;
    background:#232323;
    color:#fff;
    margin:0px 20px 0px 20px;
    z-index:3
  }
  #visualName {
    max-width:320px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    display:block;
  }
  button.btn {
    height:64px;
  }